// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1440;
$containerPadding: 48;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint1194: 1193.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;


// Fonts
$fontMain: 'Poppins', sans-serif;
$fontSecondary: 'Inter', sans-serif;

//Colors
$colorWhite:#ffffff;
$colorRed:#E14817;
$colorRedDark:#953314;
$colorNeutral-800:#0F1017;
$colorNeutral-700:#27282E;
$colorNeutral-500: #57585D;
$colorNeutral-400: #6F7074;
$colorNeutral-300: #87888B;
$colorNeutral-200: #9F9FA2;
$colorNeutral-50: #CFCFD1;
$colorGreyLight:#F8F8F8;
$colorGrey: #E7E7E8;



// Colors
$mainColor: #131418;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: $colorNeutral-800;
$burgerActiveColor: $colorWhite;